spring:
  application:
    name: quiz-platform
  datasource:
    url: jdbc:h2:mem:quiz_db
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    show-sql: false

server:
  port: 8080

logging:
  level:
    root: INFO
    com.quizapp: DEBUG